# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Misc
GETTING_STARTED.md